{% load static %}

<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}">
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" >
	<title>Meta-representation</title>
</head>
<body>
	<section class="jumbotron text-center">
		
		<div class="container">
	        <h1 class="jumbotron-heading">Meta-representation of Shape Families</h1>
			
		    <p class="lead text-muted">
		    	
		    </p>
		    <p>
		    	<a class="btn btn-primary" href="exploration/">Exploration of shape families</a>
		    	<a class="btn btn-primary" href="editing/">Guided shape editing</a>
		    </p>
		</div>
	</section>	
</body>
</html>